.main-container{
    padding: 25px;
    /* font-family: "Kanit", sans-serif; */
}
#addCropBtn{
    border-radius: 10px;
    background-color: #436850;
    color: #ffff;
    border: none;
}
h1{
    font-family: "Kanit", sans-serif;
}